<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <script src="https://kit.fontawesome.com/ecf6a77b25.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        <style>
            body{
                background-color: gray;
            }
        </style>
</head>
<body>
    <div class="container">
    <div class="card" style="width: 30rem; margin-top: 10%; margin-left: 25%;">
        <div class="card-header px-4 bg-light text-center">
            <h2>Reset Password</h2>
        </div>
        <div class="card-body p-4 bg-light">
            <div class="form m-4">
            <div class="">
                <label for="changepassword" class="col-form-label">Change Password</label>
                <input type="password" name="password"
                    class="form-control mb-3" id="changepassword"
                    placeholder="" required>
            </div>
            <div class="">
                <label for="confirmResetPassword" class="col-form-label">Confirm
                    Password</label>
                <input type="password" name="password"
                    class="form-control mb-3" id="confirmResetPassword"
                    placeholder="" required>
            </div>
            <div>
                <button class="w-100 btn btn-lg btn-primary mt-4 mb-2" id="reset-btn" type="submit">
                    Reset Password</button>
            </div>
            </div>
        </div>
    </div>
    </div>
    
</body>
</html>